In [1]:
import pandas as pd

from sqlalchemy import create_engine

import pymysql
pymysql.install_as_MySQLdb()

In [3]:
# Create Engine and Pass in MySQL Connection
engine = create_engine("mysql://root:kick01@localhost:3306/m_db")
conn =engine.connect()

In [4]:
# Query All Records in the the Database
data = pd.read_sql("SELECT * FROM icecreamstore", conn)

In [11]:
data1 = pd.read_sql("select * from pizzastore",conn )

In [5]:
data.head()

   ID       Flavors  Quantities  Price
0   1       Vanilla         100   1.00
1   2     Chocolate         150   1.25
2   3    Strawberry          95   1.25
3   4    Rocky Road          50   1.50
4   5  Cookie Dough          75   1.50

In [12]:
data1.head()

   ID        Flavors  Quantities  Price
0   1   Veggie pizza         200  10.05
1   2  Chicken Pizza         150  12.45
2   3           Gobi         340  15.25

In [13]:
# Merge the columns
combined_data = pd.merge(data, data1, on="ID", how="inner")

In [14]:
combined_data.head()

   ID   Flavors_x  Quantities_x  Price_x      Flavors_y  Quantities_y  Price_y
0   1     Vanilla           100     1.00   Veggie pizza           200    10.05
1   2   Chocolate           150     1.25  Chicken Pizza           150    12.45
2   3  Strawberry            95     1.25           Gobi           340    15.25