In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#import scipy
from scipy import stats

In [16]:
general_heights = pd.read_csv("../Resources/general_heights.csv")
wba_data = pd.read_csv("../Resources/wba_data.csv")
wba_heights = wba_data.iloc[:, -1]
wba_heights.head()
wba_data.head()

                  name position  age  height
0         Matee Ajavon        G   28      68
1            Swin Cash        F   34      73
2       Erika de Souza        F   32      77
3        Celine Dumerc        G   31      66
4  Nadia Gomes Colhado        C   25      76

In [17]:
wba_heights1 = wba_data.iloc[:,3]
wba_heights1.head()

0    68
1    73
2    77
3    66
4    76
Name: height, dtype: int64

In [25]:
general_heights.head()

   height
0    67.0
1    64.0
2    61.0
3    61.0
4    63.0

In [26]:
(t_stat,p) = stats.ttest_ind(general_heights,wba_heights, equal_var = False)

In [29]:
print("the WBA player",wba_heights.values.mean())
print("The General heights",general_heights.values.mean())

the WBA player 72.32
The General heights 64.68416666666667