In [20]:
!del hawaii.sqlite

C:\Users\renuka\Documents\NewREPO\UCBSAN201801DATA2-Class-Repository-DATA\11-Advanced-Data-Storage-and-Retrieval\homework\Instructions\hawaii.sqlite

The process cannot access the file because it is being used by another process.

In [21]:
import os 
import pandas as pd
import matplotlib.pyplot as plt

In [22]:
clean_measurements_df = pd.read_csv("Resources/clean_measurements.csv")
clean_measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [23]:
clean_stations_df = pd.read_csv("Resources/clean_stations.csv")
clean_stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [24]:
 import sqlalchemy
from sqlalchemy import create_engine ,MetaData
#import and establish base for classes which will be created

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

#import modules to declare columns and column data types
from sqlalchemy import Column,Integer,Float,String

In [25]:
#create a connection to a sqlite database 
engine = create_engine('sqlite:///hawaii2.sqlite')

In [26]:
# Create a connection to the engine called `conn`
conn = engine.connect()

In [27]:
class Stations(Base):
    __tablename__ = 'stations'
    
    station = Column(String,primary_key = True)
    name = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [28]:
class Measurement(Base):
    __tablename__ = 'measurement'
    id= Column(Integer, primary_key =True, autoincrement = True)
    station = Column(String)
    date = Column(String(10))
    prcp = Column(Float)
    tobs = Column(Float)

In [29]:
#create measurements table with in the database
Base.metadata.create_all(engine)

In [30]:
data = clean_stations_df.to_dict(orient = 'records')
print(data[:5])

[{'station': 'USC00519397', 'name': 'WAIKIKI 717.2, HI US', 'latitude': 21.2716, 'longitude': -157.8168, 'elevation': 3.0}, {'station': 'USC00513117', 'name': 'KANEOHE 838.1, HI US', 'latitude': 21.4234, 'longitude': -157.8015, 'elevation': 14.6}, {'station': 'USC00514830', 'name': 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 'latitude': 21.5213, 'longitude': -157.8374, 'elevation': 7.0}, {'station': 'USC00517948', 'name': 'PEARL CITY, HI US', 'latitude': 21.3934, 'longitude': -157.9751, 'elevation': 11.9}, {'station': 'USC00518838', 'name': 'UPPER WAHIAWA 874.3, HI US', 'latitude': 21.4992, 'longitude': -158.0111, 'elevation': 306.6}]

In [31]:
data1 = clean_measurements_df.to_dict(orient = 'records')
print(data1[:5])

[{'station': 'USC00519397', 'date': '2010-01-01', 'prcp': 0.08, 'tobs': 65}, {'station': 'USC00519397', 'date': '2010-01-02', 'prcp': 0.0, 'tobs': 63}, {'station': 'USC00519397', 'date': '2010-01-03', 'prcp': 0.0, 'tobs': 74}, {'station': 'USC00519397', 'date': '2010-01-04', 'prcp': 0.0, 'tobs': 76}, {'station': 'USC00519397', 'date': '2010-01-07', 'prcp': 0.06, 'tobs': 70}]

In [32]:
metadata = MetaData(bind = engine)
metadata.reflect()

In [33]:
table = sqlalchemy.Table('stations', metadata, autoload = True)

In [37]:
table1 = sqlalchemy.Table('measurement',metadata, autoload = True)

In [34]:
conn.execute(table.insert(), data)

In [39]:
conn.execute(table1.insert(),data1)

In [35]:
results = conn.execute("select  station,name from stations ").fetchall()
results

[('USC00519397', 'WAIKIKI 717.2, HI US'),
 ('USC00513117', 'KANEOHE 838.1, HI US'),
 ('USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US'),
 ('USC00517948', 'PEARL CITY, HI US'),
 ('USC00518838', 'UPPER WAHIAWA 874.3, HI US'),
 ('USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US'),
 ('USC00519281', 'WAIHEE 837.5, HI US'),
 ('USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US'),
 ('USC00516128', 'MANOA LYON ARBO 785.2, HI US')]

In [42]:
results2 = conn.execute("select id,station,date from measurement").fetchall()
#results2