In [1]:
import datetime as dt
import numpy as np
import pandas as pd

In [2]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

from flask import Flask, jsonify

In [3]:
#create a connection to a sqlite database 
engine = create_engine('sqlite:///hawaii2.sqlite')

In [4]:
# reflect an existing database into a new model
Base = automap_base()

In [5]:
# reflect the tables
Base.prepare(engine, reflect=True)

In [6]:
# Save reference to the table
ME = Base.classes.measurement

In [7]:
ST = Base.classes.stations

In [8]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [68]:
# Flask Setup
 #"""Return a list of all passenger names"""
  # * Query for the dates and temperature observations from the last year.

#################################################
app = Flask(__name__)

In [53]:
# Flask Routes
@app.route("/api/v1.0/precipitation")
def names():
    tobs_list =[]
    tob_12 = session.query(ME.date,ME.tobs).\
             filter((ME.date >='2016-08-23') & (ME.date <='2017-08-23')).\
             order_by(ME.date).all()
    
    for i in tob_12:
        tobs_dict ={}
        tobs_dict['date'] = i.date
        tobs_dict['tobs'] =i.tobs
        tobs_list.append(tobs_dict)
    
    return jsonify(tobs_list)

In [62]:
#* Return a json list of stations from the dataset.
@app.route("/api/v1.0/stations")
def stations():
    stations_query = session.query(ST.station,ST.name).all()
                     
    # Convert list of tuples into normal list
    station_list = list(np.ravel(station_query))

    return jsonify(station_list)

In [58]:
stations_query = session.query(ST.station,ST.name).all()

In [59]:
stations_query

[('USC00519397', 'WAIKIKI 717.2, HI US'),
 ('USC00513117', 'KANEOHE 838.1, HI US'),
 ('USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US'),
 ('USC00517948', 'PEARL CITY, HI US'),
 ('USC00518838', 'UPPER WAHIAWA 874.3, HI US'),
 ('USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US'),
 ('USC00519281', 'WAIHEE 837.5, HI US'),
 ('USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US'),
 ('USC00516128', 'MANOA LYON ARBO 785.2, HI US')]

In [69]:
#* Return a json list of the minimum temperature, the average temperature, 
#and the max temperature for a given start or start-end range.
@app.route("/api/v1.0/start")
def start_date():
    temp_query = session.query(ME.date,func.min(ME.tobs),func.max(ME.tobs),func.avg(ME.tobs)).\
                 filter(ME.date =='2017-08-15').\
                 order_by(ME.date).all()
    temp_list = list(np.ravel(temp_query))   
    return jsonify(temp_list)

def startdate_greater():
    temp_query1 = session.query(ME.date,func.min(ME.tobs),func.max(ME.tobs),func.avg(ME.tobs)).\
                 filter(ME.date >='2017-08-15').\
                 order_by(ME.date).all()
    temp_list1 = list(np.ravel(temp_query1))   
    return jsonify(temp_list1)

In [201]:
temp_query_list=[] 
date_re=[]
min_r=[]
max_r=[]
avg_r=[]

def temp(start_date,end_date):
for x,val in enumerate(list1):
    temp_query = session.query(ME.date,func.min(ME.tobs),func.max(ME.tobs),func.avg(ME.tobs)).\
                     filter((ME.date > list1[x])& (ME.date < list1[x])).\
                     order_by(ME.date).all()
    for i in temp_query:
        temp_query_list.append(temp_query)

In [131]:
temp_query = session.query(ME.date,func.min(ME.tobs),func.max(ME.tobs),func.avg(ME.tobs)).\
                 filter(ME.date >= '2016-05-10').\
                 order_by(ME.date).all()

In [202]:
temp('2010-07-04','2010-07-09')

In [203]:
temp_query_list

[[(None, None, None, None)],
 [(None, None, None, None)],
 [(None, None, None, None)],
 [(None, None, None, None)],
 [(None, None, None, None)],
 [(None, None, None, None)],
 [(None, None, None, None)],
 [(None, None, None, None)]]

In [ ]:
  #date = i[0]
           # min_t= i[1]
            #max_t =i[2]
#avg_t = i[3]
           # date_re.append(date)
           # min_r.append(min_t)
           # max_r.append(max_t)
           # avg_r.append(avg_t)