In [1]:
# Import Dependencies
import pandas as pd
import os

In [2]:
# Create a reference the CSV file desired
csv_path = os.path.join('Resources', 'usa_ufo_sightings.csv')

# Read the CSV into a Pandas DataFrame
usa_ufo_df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
usa_ufo_df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111
1,10/10/1956 21:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833
2,10/10/1960 20:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611
3,10/10/1961 19:00,bristol,tn,us,sphere,300.0,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.595000,-82.188889
4,10/10/1965 23:45,norwalk,ct,us,disk,1200.0,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.117500,-73.408333

In [3]:
# Count how many sightings have occured within each state
state_counts = usa_ufo_df["state"].value_counts()
state_counts.head()

ca    8683
fl    3754
wa    3707
tx    3398
ny    2915
Name: state, dtype: int64

In [4]:
# Using GroupBy in order to separate the data into fields according to "state" values
grouped_usa = usa_ufo_df.groupby('state')

# The object returned is a "GroupBy" object and cannot be viewed normally...
print(type(grouped_usa))

# In order to be visualized, a data function must be used...
grouped_usa.count().head()

<class 'pandas.core.groupby.DataFrameGroupBy'>

,datetime,city,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
state,,,,,,,,,,
ak,311,311,311,311,311,311,311,311,311,311
al,629,629,629,629,629,629,629,629,629,629
ar,578,578,578,578,578,578,578,578,578,578
az,2362,2362,2362,2362,2362,2362,2362,2362,2362,2362
ca,8683,8683,8683,8683,8683,8683,8683,8683,8683,8683

In [5]:
# Since "duration (seconds)" was converted to a numeric time, it can now be summed up per state
state_duration = grouped_usa["duration (seconds)"].sum()
state_duration.head()

state
ak     1455863.00
al      900453.50
ar    66986144.50
az    15453494.60
ca    24865571.47
Name: duration (seconds), dtype: float64

In [6]:
# Creating a new DataFrame using both duration and count
state_summary_table = pd.DataFrame({
    "Number of Sightings": state_counts,
    "Total Visit Time": state_duration
})
state_summary_table.head()

    Number of Sightings  Total Visit Time
ak                  311        1455863.00
al                  629         900453.50
ar                  578       66986144.50
az                 2362       15453494.60
ca                 8683       24865571.47

In [7]:
# It is also possible to group a DataFrame by multiple columns
# This returns an object with multiple indexes, however, which can be harder to deal with
grouped_city = usa_ufo_df.groupby(['state','city'])

# Converting a GroupBy object into a Series
city_duration = grouped_city["duration (seconds)"].sum()
city_duration.head(10)

state  city
ak     adak               180.0
       anchor point       300.0
       anchorage       109187.0
       angoon             600.0
       auke bay         40200.0
       bethel            2760.0
       big lake           180.0
       butte              240.0
       chugiak            180.0
       clam gulch        1200.0
Name: duration (seconds), dtype: float64

In [8]:
city_duration_df = pd.DataFrame(grouped_city["duration (seconds)"].sum())
city_duration_df.head()

                    duration (seconds)
state city
ak    adak                       180.0
      anchor point               300.0
      anchorage               109187.0
      angoon                     600.0
      auke bay                 40200.0

In [9]:
city_duration_df.loc['ak']
city_duration_df.loc[('ak', 'anchorage'), 'duration (seconds)']

109187.0