In [42]:
# Dependencies
import pandas as pd

In [43]:
# load CSV

In [1]:
# Read with pandas

In [2]:
# Inspect all columns

In [3]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111

In [4]:
# Change "0" to "No" and "1" to "Yes" in response columns

In [5]:
# Calculate total number of respondents in survey

In [6]:
# Extract rows corresponding only to people who attended a bootcamp

In [8]:
# Calculate average age of attendees 

# Calculate how many people attended a bootcamp

# Calculate how many attendees hold degrees

# Count number of attendees who self-identify as male; female; or are of non-binary gender identification  

# Calculate percentage of respondents who attended a bootcamp

# Calculate percentage of respondents belonging to each gender

# Calculate percentage of attendees with a school degree

# Calculate average post-bootcamp salary

In [18]:
# Create a new table consolodating above calculations

,Total Surveyed,Total Bootcamp attendees,% attended bootcamp,Avg. Age,Has a degree,% Male,% Female,% Non Gender Specific,Average Post Bootcamp Salary
0,15620,953,6.1,31.07,87.3,59.54,39.14,1.32,63740.51

In [19]:
# Improve formatting before outputting spreadsheet

,Total Surveyed,Total Bootcamp attendees,% attended bootcamp,Avg. Age,Has a degree,% Male,% Female,% Non Gender Specific,Average Post Bootcamp Salary
0,15620,953,6.10%,31.07,87.30%,59.54%,39.14%,1.32%,"$63,741"

In [21]:
# Export to Excel