In [2]:
# Dependencies
import pandas as pd
import numpy as np

In [3]:
# We can create a Pandas Series from a raw list
schools_l = ["UCLA", "UC Berkeley", "UC Irvine", "San Jose State", "UCSF", "University of San Francisco"]
data_series = pd.Series(schools_l)
data_series

0                           UCLA
1                    UC Berkeley
2                      UC Irvine
3                 San Jose State
4                           UCSF
5    University of San Francisco
dtype: object

In [5]:
# Convert a list of dictionarys into a dataframe
states_dicts = [{"STATE":"New Jersey",
                 "ABBREVIATION":"NJ"},
                {"STATE":"New York",
                 "ABBREVIATION":"NY"}]
df_states = pd.DataFrame(states_dicts, columns=['STATE','ABBREVIATION'])
df_states

        STATE ABBREVIATION
0  New Jersey           NJ
1    New York           NY

In [6]:
# Convert a single dictionary containing lists into a dataframe
my_d = {"Dynasty": ["Early Dynastic Period","Old Kingdom"],
         "Pharoh": ["Thinis","Memphis"]}
df = pd.DataFrame(my_d)
df

                 Dynasty   Pharoh
0  Early Dynastic Period   Thinis
1            Old Kingdom  Memphis