In [12]:
import pandas as pd

In [13]:
# Mapping lets you format an entire DataFrame
file = "sample_data.csv"
file_df = pd.read_csv(file)
file_df.head()

   id      city   avg_cost  population     other
0   1  Houxiang  55.121518      609458 -15.66171
1   2    Leribe  95.782967      601963 -23.79499
2   3  Hengshan  57.867827      589509   1.31471
3   4    Sogcho  59.220634      948491 -11.38280
4   5     Kohlu  23.092232       92206   7.66861

In [14]:
file_df.dtypes

id              int64
city           object
avg_cost      float64
population      int64
other         float64
dtype: object

In [6]:
# Create a function that creates a string from a number rounded to 2 decimals
def round2(number):
    # Rounds the number
    rounded_number = round(number, 2)
    # Creates a string
    string = str(rounded_number)
    # Returns the string
    return string

print(round2(51.526457))
print(round2(-17.1345129))

51.53
-17.13

In [15]:
def dollar_round2(number):
    # Creates a string of rounded number using previously defined function
    string_round2 = round2(number)
    # Add dollar sign
    string = '$'+string_round2
    return string

print(dollar_round2(51.526457))
print(dollar_round2(-17.1345129))

$51.53
$-17.13

In [16]:
file_df["other"] = file_df["other"].map(round2)
# file_df["other"] = file_df["other"].map("{:.2f}".format)

file_df["avg_cost"] = file_df["avg_cost"].map(dollar_round2)
# file_df["avg_cost"] = file_df["avg_cost"].map("${:.2f}".format)

file_df.head()

   id      city avg_cost  population   other
0   1  Houxiang   $55.12      609458  -15.66
1   2    Leribe   $95.78      601963  -23.79
2   3  Hengshan   $57.87      589509    1.31
3   4    Sogcho   $59.22      948491  -11.38
4   5     Kohlu   $23.09       92206    7.67

In [9]:
# Mapping has changed the datatypes of the columns to strings
file_df.dtypes

id             int64
city          object
avg_cost      object
population     int64
other         object
dtype: object

In [17]:
file_df["other"] = file_df["other"].map("{:.2f}".format)

ValueError: Unknown format code 'f' for object of type 'str'