In [27]:
import matplotlib.pyplot as plt

In [571]:
import datetime as dt
import pandas as pd
import numpy as np

In [29]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect,func

In [30]:
#create a connection to a sqlite database 
engine = create_engine('sqlite:///hawaii2.sqlite')

In [31]:
# Reflect Database into ORM classes
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['measurement', 'stations']

In [32]:
# create object for table ME
ME = Base.classes.measurement

In [33]:
# create object for table ST
ST = Base.classes.stations

In [34]:
session = Session(engine)

In [35]:
session.query(func.count(ME.date)).all()

[(18103)]

In [36]:
session.query(ME.date).order_by(ME.date.asc()).first()

('2010-01-01')

In [37]:
mk = session.query(ME.date).order_by(ME.date.desc()).first()

In [38]:
mk

('2017-08-23')

In [31]:
# date 1 week ago from today
week_ago = dt.date.today() - dt.timedelta(days=365)
week_ago

datetime.date(2017, 4, 3)

In [ ]:
#################### Precipitation Analysis ###########################

In [540]:
##### **** Design a query to retrieve the last 12 months of precipitation data.**** #####
prcp_result = session.query(ME.date,ME.prcp).\
            filter ((ME.date >= '2016-08-01' ) & (ME.date <= '2017-08-23')).\
            order_by (ME.date).all()

In [542]:
#prcp_result

In [543]:
####*** Load the query results into a Pandas DataFrame 

prcp_result_df = pd.DataFrame(prcp_result)
prcp_result_df.head()

         date  prcp
0  2016-08-01  0.08
1  2016-08-01  2.35
2  2016-08-01  0.54
3  2016-08-01  3.53
4  2016-08-01  2.21

In [546]:
#### set the index to the date column.
date_index = pd.DataFrame(prcp_result_df).set_index('date')
date_index.head()

            prcp
date
2016-08-01  0.08
2016-08-01  2.35
2016-08-01  0.54
2016-08-01  3.53
2016-08-01  2.21

In [ ]:
## using plotly library to represent data

In [536]:
import plotly.plotly as py
#import plotly.offline as offline
import plotly.graph_objs as go

In [539]:
date_col =result_df['date']
prcp_col = result_df['prcp']

#value_col = measure_df['Value']
prcp_plot= go.Bar(x = date_col, y = prcp_col, name =prcp_col,
                   marker=dict(color='rgb(158,202,225)'))
layout = dict(title = 'Percipitation Value for year(2016-2017)',
              xaxis = dict(title = 'Date'),
              yaxis = dict(title = 'Percipitation'),
              )
data = [prcp_plot]
fig = dict(data=data,layout=layout)
py.iplot(fig)

In [ ]:
 ## Use Pandas to print the summary statistics for the precipitation data.###

In [544]:
### Summary Statistics ###
prcp_result_df.describe()

              prcp
count  2148.000000
mean      0.182896
std       0.467339
min       0.000000
25%       0.000000
50%       0.020000
75%       0.140000
max       6.700000

In [220]:
#list1 =['2016-01-06','2017-07-23']
#final_list =[]
#for x,val in enumerate(list1):
 #   result_all = session.query(ME.date,ME.prcp).\
  #            filter(ME.date == list1[x]).\
   #           order_by(ME.date).all()
    #print(result_all) 
    #final_list.append(result_all)

In [ ]:
###################### SOLUTION 2 ###############

In [ ]:
############## Temparature Analysis Using Functions ###################

In [ ]:
 # Write a function called `calc_temps` that will accept a start date and end date in the format `%Y-%m-%d` 
 # and return the minimum, average, and maximum temperatures for that range of dates.

In [576]:
temp_results =[]
# appending each column value in a list
date_re =[]
prcp_re=[]
tobs_re =[]
#####################
#** creating calc_temps function **##
#####################################
def calc_temps(start_date,end_date ):
    my_result1 = session.query(ME.date,ME.prcp,ME.tobs).\
                     filter((ME.date >= start_date) & (ME.date <= end_date)).\
                     order_by(ME.date).all()
    for i in my_result1:
        date = i[0]
        prcp = i[1]
        tobs =i[2]
        date_re.append(date)
        prcp_re.append(prcp)
        tobs_re.append(tobs)        
    #temp_results.append(my_result1)

In [577]:
#***** calling calc_temps function py passing parameters **************
calc_temps('2010-02-15', '2010-02-30')
#temp_results
#tobs_re

In [578]:
#*** converting results into a dictionary (temp_dict) ***######
temp_dict = {'date':date_re,'prcp':prcp_re,'tobs':tobs_re}

In [552]:
#temp_func = temp('2010-02-06','2010-02-15')
#temp_func
date_re

['2010-02-25']

In [580]:
temp_results_df = pd.DataFrame(temp_dict)
temp_results_df.head()

         date  prcp  tobs
0  2010-02-15   0.0  71.0
1  2010-02-15   0.0  72.0
2  2010-02-15   0.0  70.0
3  2010-02-15   0.0  73.0
4  2010-02-15   0.0  71.0

In [581]:
min_temp= temp_results_df['tobs'].groupby(temp_results_df['date']).min()
min_temp

date
2010-02-15    70.0
2010-02-16    59.0
2010-02-17    65.0
2010-02-18    63.0
2010-02-19    60.0
2010-02-20    63.0
2010-02-21    65.0
2010-02-22    63.0
2010-02-23    62.0
2010-02-24    61.0
2010-02-25    64.0
2010-02-26    71.0
2010-02-27    68.0
2010-02-28    66.0
Name: tobs, dtype: float64

In [582]:
max_temp= temp_results_df['tobs'].groupby(temp_results_df['date']).max()
max_temp

date
2010-02-15    73.0
2010-02-16    74.0
2010-02-17    69.0
2010-02-18    68.0
2010-02-19    63.0
2010-02-20    74.0
2010-02-21    69.0
2010-02-22    67.0
2010-02-23    71.0
2010-02-24    72.0
2010-02-25    76.0
2010-02-26    75.0
2010-02-27    75.0
2010-02-28    70.0
Name: tobs, dtype: float64

In [583]:
average_temp= temp_results_df['tobs'].groupby(temp_results_df['date']).mean()
average_temp

date
2010-02-15    71.714286
2010-02-16    65.000000
2010-02-17    67.714286
2010-02-18    66.000000
2010-02-19    62.000000
2010-02-20    68.000000
2010-02-21    67.000000
2010-02-22    64.600000
2010-02-23    65.333333
2010-02-24    64.285714
2010-02-25    69.571429
2010-02-26    72.833333
2010-02-27    71.500000
2010-02-28    68.000000
Name: tobs, dtype: float64

In [584]:
yeardate = average_temp.keys()
yeardate

Index(['2010-02-15', '2010-02-16', '2010-02-17', '2010-02-18', '2010-02-19',
       '2010-02-20', '2010-02-21', '2010-02-22', '2010-02-23', '2010-02-24',
       '2010-02-25', '2010-02-26', '2010-02-27', '2010-02-28'],
      dtype='object', name='date')

In [ ]:
###Plot the min, avg, and max temperature from your previous query as a bar chart.

In [587]:
trace1 = go.Scatter(
    x= yeardate,
    y=min_temp,
    name='min_temp',
    marker=dict(color='rgb(158,202,225)')
)
trace2 = go.Scatter(
    x=yeardate,
    y=max_temp,
    
    name='max_temp',
    marker=dict(color='rgb(153, 204, 255)')
)
trace3 = go.Scatter(
    x=yeardate,
    y=average_temp,
    
    name='average_temp',
    marker=dict(color='rgb(148, 103, 189)')
)

data = [trace1, trace2,trace3]
layout = go.Layout(
    title='Temparature Statics vs Month',
    xaxis = dict(title='Dates'),
    yaxis=dict(
        title='Temparature'
    ),
   
    )


fig = go.Figure(data=data, layout=layout)
py.iplot(fig)

In [ ]:
##* Use the average temperature as the bar height.

In [598]:
prcp_plot= go.Box(y = average_temp,
                   marker=dict(color='rgb(158,202,225)'))
layout = dict(title = 'Trip Average Temparature',
              xaxis = dict(title = 'date'),
              yaxis = dict(title = 'avg_temp'),
              )
data = [prcp_plot]
fig = dict(data=data,layout=layout)
py.iplot(fig)

In [ ]:
############### STATION ANALYSIS ###############

In [367]:
# **** Design a query to calculate the total number of stations.
count_station =session.query(func.count(ST.station)).all()
count_station

[(9)]

In [ ]:
# * Design a query to find the most active stations.

In [510]:
active_station = session.query(func.count(ME.station),ST.name).\
                 filter(ME.station =='USC00519281').\
                 filter(ME.station == ST.station).all()
active_station
#sel = [ST.name,ME.station]
#max_station = session.query(func.max(ME.station),ST.name).\
              #filter(ME.station==ST.station).all()
#max_station

[(2772, 'WAIHEE 837.5, HI US')]

In [414]:
#def count_station(station):
  #  count_station1 = session.query(func.count(station)).\
                  #   filter(ME.station ==station).all()
    #print(count_station1 )

In [462]:
from sqlalchemy import desc

In [463]:
############# List the stations and observation counts in descending order###################
list2 = ['USC00513117','USC00511918','USC00519397','USC00514830','USC00517948','USC00518838','USC00519523',
         'USC00519281','USC00516128']
for x,val in enumerate(list2):
    res = session.query(func.count(ME.station),ST.name,ME.station).\
          filter(ME.station == list2[x]).\
          filter(ME.station == ST.station).\
            order_by(func.count(ME.station).desc()).all()
    print(res )

[(2696, 'KANEOHE 838.1, HI US', 'USC00513117')]
[(1932, 'HONOLULU OBSERVATORY 702.2, HI US', 'USC00511918')]
[(2685, 'WAIKIKI 717.2, HI US', 'USC00519397')]
[(1937, 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 'USC00514830')]
[(683, 'PEARL CITY, HI US', 'USC00517948')]
[(342, 'UPPER WAHIAWA 874.3, HI US', 'USC00518838')]
[(2572, 'WAIMANALO EXPERIMENTAL FARM, HI US', 'USC00519523')]
[(2772, 'WAIHEE 837.5, HI US', 'USC00519281')]
[(2484, 'MANOA LYON ARBO 785.2, HI US', 'USC00516128')]

In [513]:
#####* * Which station has the highest number of observations?.######

station_high_observations = session.query(func.count(ME.station),ME.station).\
                            group_by(ME.station).\
                            having(func.count(ME.station)>2700).all()
       #filter(ME.station>= 2500).all()
        #filter(ME.station == ST.station).all()
print(station_high_observations)

[(2772, 'USC00519281')]

In [450]:
 
total = session.query(func.count(ME.station)).all()
total

[(18103)]

In [467]:
##* to get the last data point in file
mk = session.query(ME.date).order_by(ME.date.desc()).first() 
mk

('2017-08-23')

In [514]:
# * * Design a query to retrieve the last 12 months of temperature observation data (tobs).
tob_12= session.query(ME.date,ME.tobs).\
         filter((ME.date >='2016-08-23') & (ME.date <='2017-08-23')).\
            order_by(ME.date).all()
#date_08

In [515]:
tob_12_df = pd.DataFrame(tob_12)
tob_12_df.head()

         date  tobs
0  2016-08-23  81.0
1  2016-08-23  76.0
2  2016-08-23  80.0
3  2016-08-23  80.0
4  2016-08-23  77.0

In [ ]:
#####* Filter by the station with the highest number of observations.######

In [ ]:
#####* Filter by the station with the highest number of observations.######

high_observations = session.query(func.count(ME.station),ME.station).\
       group_by(ME.station).\
       having(func.count(ME.station)>2500).all()
       #filter(ME.station>= 2500).all()
        #filter(ME.station == ST.station).all()
print(high_observations)

In [ ]:
####### * Plot the results as a histogram with `bins=12`.

In [593]:
data = [go.Histogram(x=tob_12_df['tobs'],
                     histnorm='frequency')]
layout = go.Layout(
    title='Temparature_histogram',
    xaxis = dict(title='Temparature'),
    yaxis=dict(
        title='Frequency'
    ))
fig = go.Figure(data=data, layout=layout)
py.iplot(fig)