In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import requests

In [2]:
driver= webdriver.Chrome('C:/Users/renuka/Desktop/chromedriver.exe')

In [ ]:
### NASA Mars News

#######* Scrape the [NASA Mars News Site](https://mars.nasa.gov/news/) 
######## and collect the latest News Title and Paragragh Text. Assign the text to variables that you can reference later.

In [3]:
driver.get('https://mars.nasa.gov/news/')
#response = requests.get()
soup = BeautifulSoup(driver.page_source,"lxml")
driver.quit()

In [4]:
title_list =[]
for item in soup.select('.list_text'):
    title = item.select('.content_title')[0].text
    title_list.append(title)
    #print(title)

In [5]:
para_list =[]
for item in soup.select('.list_text'):
    para = item.select('.article_teaser_body')[0].text
    para_list.append(para)

In [6]:
list_to_dict = {'Title':title_list,
                'Paragraph':para_list}

In [7]:
import pandas as pd

In [8]:
para_data = pd.DataFrame(list_to_dict)
para_data.head()

,Paragraph,Title
0,The first CubeSat mission to deep space will l...,NASA Engineers Dream Big with Small Spacecraft
1,"On May 5, millions of Californians may witness...",Bound for Mars: Countdown to First Interplanet...
2,"NASA is investing in technology concepts, incl...",NASA Invests in Visionary Technology
3,NASA is about to go on a journey to study the ...,NASA is Ready to Study the Heart of Mars
4,"InSight, the next mission to the Red Planet, w...",‘Marsquakes’ Could Shake Up Planetary Science

In [ ]:
#######************* End of solution1 *******###########

In [ ]:
### Question2: Mars Weather

#####***** Visit the Mars Weather twitter account [here](https://twitter.com/marswxreport?lang=en)*************
#####***** and scrape the latest Mars weather tweet from the page. 
#####***** Save the tweet text for the weather report as a variable called `mars_weather`.

In [10]:
driver.get('https://twitter.com/marswxreport?lang=en')
soup1= BeautifulSoup(driver.page_source,'lxml')
driver.quit()

In [11]:
mars_weather = soup1.select('.TweetTextSize')[0].text
mars_weather

'Sol 2026 (April 18, 2018), Sunny, high -6C/21F, low -73C/-99F, pressure at 7.19 hPa, daylight 05:26-17:21'

In [ ]:
#########***********end of solution2*********************###################

In [ ]:
### Question3 Mars Facts

#* Visit the Mars Facts webpage [here](http://space-facts.com/mars/) 
#and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

#* Use Pandas to convert the data to a HTML table string.

In [3]:
driver.get('http://space-facts.com/mars/')
soup2= BeautifulSoup(driver.page_source,'lxml')
driver.quit()

In [15]:
for tr in soup2.select(".tablepress"):
    for tr2 in tr.select(".row-1"):
        tr3 = tr2.select(".column-1")[0].text
    print(tr3)

Equatorial Diameter:

In [17]:
import pandas as pd

In [18]:
tables = pd.read_html('http://space-facts.com/mars/')
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [23]:
df = tables[0]
df.columns = ["Units","Values"]
df

                  Units                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [25]:
df.set_index('Units', inplace=True)
df.head()

                                             Values
Units
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)

In [32]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Values</th>\n    </tr>\n    <tr>\n      <th>Units</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [ ]:
###### Question 4

In [12]:
driver = webdriver.Chrome('C:/users/renuka/Desktop/chromedriver.exe')

In [27]:
import matplotlib.pyplot as plt
from pandas.tools.plotting import table

In [29]:
plt.savefig('df.png')