In [1]:
# Dependencies
import pandas as pd

In [2]:
# Store filepath in a variable
file_one = "Resources/DataOne.csv"

Suggestions for [encodings to try](http://pandaproject.net/docs/determining-the-encoding-of-a-csv-file.html)

In [3]:
"""
Note, in case you get an error about encoding, check the link above.
Also try these:

file_one_df = pd.read_csv(file_one, encoding = "utf-8")
file_one_df = pd.read_csv(file_one, encoding = "ISO-8859-1")
"""
# Read our Data file with the pandas library
#file_one_df = pd.read_csv(file_one)
file_one_df = pd.read_csv(file_one)

In [4]:
# Show just the header 
file_one_df.head()

   id first_name  last_name                    email  gender
0   1      David     Jordan         djordan0@home.pl    Male
1   2    Stephen      Riley  sriley1@hugedomains.com    Male
2   3     Evelyn      Grant  egrant2@livejournal.com  Female
3   4        Joe    Mendoza         jmendoza3@un.org    Male
4   5   Benjamin  Rodriguez   brodriguez4@elpais.com    Male

In [5]:
# Show a single column
file_one_df["first_name"].head()

0       David
1     Stephen
2      Evelyn
3         Joe
4    Benjamin
Name: first_name, dtype: object

In [6]:
# Show specific columns--note the extra brackets
file_one_df[["first_name", "email"]].head()

  first_name                    email
0      David         djordan0@home.pl
1    Stephen  sriley1@hugedomains.com
2     Evelyn  egrant2@livejournal.com
3        Joe         jmendoza3@un.org
4   Benjamin   brodriguez4@elpais.com

In [7]:
# Head does not change the DataFrame--it only displays it
file_one_df.head()

   id first_name  last_name                    email  gender
0   1      David     Jordan         djordan0@home.pl    Male
1   2    Stephen      Riley  sriley1@hugedomains.com    Male
2   3     Evelyn      Grant  egrant2@livejournal.com  Female
3   4        Joe    Mendoza         jmendoza3@un.org    Male
4   5   Benjamin  Rodriguez   brodriguez4@elpais.com    Male

In [8]:
# Export file as a CSV, without the Pandas index, but with the header
file_one_df.to_csv("Output/fileOne.csv", index=False, header=True)

For more info, check out the documentation for

[read_csv](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)

```
DataFrame.to_csv(path_or_buf=None, sep=’, ’, na_rep=”, float_format=None, columns=None, header=True, index=True, index_label=None, mode=’w’, encoding=None, compression=None, quoting=None, quotechar=’”’, line_terminator=’\n’, chunksize=None, tupleize_cols=False, date_format=None, doublequote=True, escapechar=None, decimal=’.’)[source]
```

[to_csv](http://pandas.pydata.org/pandas-docs/version/0.20.2/generated/pandas.DataFrame.to_csv.html)
```
DataFrame.to_csv(path_or_buf=None, sep=’, ’, na_rep=”, float_format=None, columns=None, header=True, index=True, index_label=None, mode=’w’, encoding=None, compression=None, quoting=None, quotechar=’”’, line_terminator=’\n’, chunksize=None, tupleize_cols=False, date_format=None, doublequote=True, escapechar=None, decimal=’.’)
```