activate your PythonData environment, then run in your terminal:

```
pip install openweathermapy
```

In [2]:
# Dependencies
import csv
import matplotlib.pyplot as plt
import openweathermapy as ow
import pandas as pd

In [3]:
# Create a settings object with your API key and preferred units
api_key = "25bc90a1196e6f153eece0bc0b0fc9eb"
settings = {"units": "metric", "appid": api_key}

In [4]:
# Get data for each city in cities.csv
weather_data = []
with open("../Resources/cities.csv") as f_in:
    c_reader = csv.reader(f_in)
    city_l = [city[0] for city in c_reader]
    weather_data = [ow.get_current(city, **settings) for city in city_l]

In [5]:
weather_data[0]

{'base': 'stations',
 'clouds': {'all': 90},
 'cod': 200,
 'coord': {'lat': 48.86, 'lon': 2.35},
 'dt': 1519099200,
 'id': 2988507,
 'main': {'humidity': 100,
  'pressure': 1015,
  'temp': 3.37,
  'temp_max': 4,
  'temp_min': 3},
 'name': 'Paris',
 'sys': {'country': 'FR',
  'id': 5610,
  'message': 0.0048,
  'sunrise': 1519109384,
  'sunset': 1519147177,
  'type': 1},
 'visibility': 5000,
 'weather': [{'description': 'mist', 'icon': '50n', 'id': 701, 'main': 'Mist'},
  {'description': 'fog', 'icon': '50n', 'id': 741, 'main': 'Fog'}],
 'wind': {'deg': 60, 'speed': 2.1}}

In [6]:
# Create an "extracts" object to get the temperature, latitude,
# and longitude in each city
summary = ["main.temp", "coord.lat", "coord.lon"]

In [7]:
# Create a Pandas DataFrame with the results
data = [response(*summary) for response in weather_data]

In [8]:
data[0]

(3.37, 48.86, 2.35)

In [10]:
column_names = ["Temperature", "Latitude", "Longitude"]
weather_data = pd.DataFrame(data, index=city_l, columns=column_names)
weather_data

             Temperature  Latitude  Longitude
Paris               3.37     48.86       2.35
London              8.51     51.51      -0.13
Oslo               -4.00     59.91      10.74
Beijing             6.00     39.91     116.39
Moscow            -12.16     46.73    -117.00
Vladivostok        -4.00     43.12     131.89
Osaka               9.00     34.70     135.50
Honolulu           23.25     21.30    -157.86
Montevideo         -9.50     44.94     -95.72
Erbil               8.00     36.19      44.01