In [1]:
!rm demographics.sqlite cleaned_csv.csv

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
# CSV file
csvfile = "demographics.csv"

In [4]:
# Read CSV file into a pandas DataFrame
### BEGIN SOLUTION
df = pd.read_csv(csvfile, dtype=object)
### END SOLUTION

In [5]:
# Use `dropna` to drop any rows where there is missing data
### BEGIN SOLUTION
df = df.dropna(axis=0)
### END SOLUTION

In [6]:
# Drop the `name` column and reset the index
### BEGIN SOLUTION
df.drop(['name'], axis=1).reset_index(drop=True)
df.head()
### END SOLUTION

,id,name,age,height_meter,weight_kg,children,occupation,academic_degree,salary,location
0,0,Darlena Avila,58,1.87,53,1,Choreographer,PhD,68,South Dakota
1,1,Yan Boyd,65,1.80,40,0,Cellarman,Bachelor,73,Delaware
2,2,Joette Lane,32,1.80,73,1,Veterinary Surgeon,Master,69,South Dakota
3,3,Jazmine Hunt,61,1.79,89,0,Hawker,PhD,88,Louisiana
4,4,Remedios Gomez,23,1.64,51,2,Choreographer,Bachelor,83,West Virginia

In [7]:
# Save the cleaned data to a file called `cleaned_demographics.csv`
### BEGIN SOLUTION
clean_data = "cleaned_csv.csv"
df.to_csv(clean_data, index=False)
### END SOLUTION

In [8]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [9]:
# Create an engine to a database file called `demographics.sqlite`
### BEGIN SOLUTION
engine = create_engine("sqlite:///demographics.sqlite")
### END SOLUTION

In [10]:
# Create a connection to the engine called `conn`
### BEGIN SOLUTION
conn = engine.connect()
### END SOLUTION

In [11]:
# Use `declarative_base` from SQLAlchemy to model the demographics table as an ORM class
# Make sure to specify types for each column

Base = declarative_base()

class Demographics(Base):
    __tablename__ = 'demographics'

    id = Column(Integer, primary_key=True)
    age = Column(Integer)
    name = Column(Text)
    height_meter = Column(Float)
    weight_kg = Column(Float)
    children = Column(Integer)
    occupation = Column(Text)
    academic_degree = Column(Text)
    salary = Column(Integer)
    location = Column(Text)

    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [12]:
# Use `create_all` to create the demographics table in the database
### BEGIN SOLUTION
Base.metadata.create_all(engine)
### END SOLUTION

In [13]:
# Load the cleaned csv file into a pandas dataframe
### BEGIN SOLUTION
df_of_data_to_insert = pd.read_csv(clean_data)
### END SOLUTION

In [14]:
# Use Orient='records' to create a list of data to write
# http://pandas-docs.github.io/pandas-docs-travis/io.html#orient-options
### BEGIN SOLUTION
data = df_of_data_to_insert.to_dict(orient='records')
data[0]
### END SOLUTION

{'academic_degree': 'PhD',
 'age': 58,
 'children': 1,
 'height_meter': 1.87,
 'id': 0,
 'location': 'South Dakota',
 'name': 'Darlena Avila',
 'occupation': 'Choreographer',
 'salary': 68,
 'weight_kg': 53}

In [15]:
# Use MetaData from SQLAlchemy to reflect the tables
### BEGIN SOLUTION
metadata = MetaData(bind=engine)
metadata.reflect()
### END SOLUTION

In [16]:
# Save the reference to the `demographics` table as a variable called `table`
### BEGIN SOLUTION
table = sqlalchemy.Table('demographics', metadata, autoload=True)
### END SOLUTION

In [17]:
# Use `table.delete()` to remove any existing data.
# Note that this is a convenience function so that you can re-run the example code multiple times.
# You would not likely do this step in production.
### BEGIN SOLUTION
conn.execute(table.delete())
### END SOLUTION

In [18]:
# Use `table.insert()` to insert the data into the table
### BEGIN SOLUTION
conn.execute(table.insert(), data)
### END SOLUTION

In [19]:
# Test that the insert works by fetching the first 5 rows. 
conn.execute("select * from demographics limit 5").fetchall()

[(0, 58, 'Darlena Avila', 1.87, 53.0, 1, 'Choreographer', 'PhD', 68, 'South Dakota'),
 (1, 65, 'Yan Boyd', 1.8, 40.0, 0, 'Cellarman', 'Bachelor', 73, 'Delaware'),
 (2, 32, 'Joette Lane', 1.8, 73.0, 1, 'Veterinary Surgeon', 'Master', 69, 'South Dakota'),
 (3, 61, 'Jazmine Hunt', 1.79, 89.0, 0, 'Hawker', 'PhD', 88, 'Louisiana'),
 (4, 23, 'Remedios Gomez', 1.64, 51.0, 2, 'Choreographer', 'Bachelor', 83, 'West Virginia')]