In [2]:
# Dependencies
import csv
import matplotlib.pyplot as plt
import requests as req
import pandas as pd

In [3]:
# Save config information.
api_key = "25bc90a1196e6f153eece0bc0b0fc9eb"
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "metric"

In [4]:
# Build partial query URL
query_url = url + "appid=" + api_key + "&units=" + units + "&q="
query_url

'http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=metric&q='

In [6]:
weather_data = []
cities = ["London", "Paris", "Las Vegas", "Stockholm", "Sydney", "Hong Kong"]

for city in cities:
    weather_data.append(req.get(query_url + city).json())
weather_data[0]

{'base': 'stations',
 'clouds': {'all': 75},
 'cod': 200,
 'coord': {'lat': 51.51, 'lon': -0.13},
 'dt': 1508277000,
 'id': 2643743,
 'main': {'humidity': 81,
  'pressure': 1016,
  'temp': 10.33,
  'temp_max': 11,
  'temp_min': 9},
 'name': 'London',
 'sys': {'country': 'GB',
  'id': 5093,
  'message': 0.0051,
  'sunrise': 1508221779,
  'sunset': 1508259645,
  'type': 1},
 'visibility': 10000,
 'weather': [{'description': 'light rain',
   'icon': '10n',
   'id': 500,
   'main': 'Rain'}],
 'wind': {'deg': 50, 'speed': 1.5}}

In [7]:
# Extract interesting data from responses
lon_data = [data.get("coord").get("lon") for data in weather_data]
pressure_data = [data.get("main").get("pressure") for data in weather_data]

weather_data = {"pressure": pressure_data, "lon": lon_data}
weather_data = pd.DataFrame(weather_data)
weather_data

      lon  pressure
0   -0.13      1016
1    2.35      1015
2 -115.14      1017
3   18.06      1002
4  151.21      1028
5  114.16      1013

In [ ]:
# Build a scatter plot for each data type
plt.scatter(weather_data["lon"], weather_data["pressure"], marker="o")

# Incorporate the other graph properties
plt.title("Pressure in World Cities")
plt.ylabel("Pressure (Celsius)")
plt.xlabel("Longitude")
plt.grid(True)

# Save the figure
plt.savefig("PressureInWorldCities.png")

# Show plot
plt.show()